.kanan{
    margin-left: 210px;
    margin-top: 20px;
}
.txt-nowPlaying{
    margin-bottom: -50px;
    font-size: 20px;
    border-bottom: 2px solid #d6a864;
    width: 8%;
    margin-top: 20px;
    padding-bottom: 10px;
}