/* * {
  font-family: sans-serif, Poppins;
  font-weight: bold;
} */

.boxPembayaran {
  background-color: #1e2022;
  width: 800px;
  height: 300px;
  margin-left: 380px;
  margin-top: 30px;
  border-radius: 10px;
}
.boxPembayaran img {
  width: 180px;
}

.container-pembayaran {
  margin-top: -260px;
  margin-left: -50px;
}

.boxPembayaran .container-pembayaran p {
  margin-left: 250px;
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
}
.txt-boxPembayaran {
  margin-left: 725px;
  font-size: 25px;
  margin-top: 25px;
  /* margin-left: 780px; */
}

.boxPembayaran .titlePay h1 {
  color: white !important;
  /* margin-left: 3500px; */
  margin-top: 30px;
  /* font-size: 1000px; */
  font-weight: bold;
}

.btnQris {
  display: flex;
  justify-content: left;
  margin-left: -400px;
  margin-top: 30px;
}
.btn-img-qris {
  margin-top: 10px;
  margin-left: 18px;
}
.btnGopay {
  justify-content: center;
  margin-top: -70px;
}

.btn-img-gopay {
  margin-top: 3px;
  margin-left: -5px;
}

.btnSpay {
  margin-left: 400px;
  margin-top: -70px;
}

.btn-img-spay {
  margin-top: 5px;
  margin-left: 5px;
}
.btn-img-dana {
  margin-top: 3px;
  margin-left: 5px;
}

.btnDana {
  margin-left: 800px;
  margin-top: -70px;
}

.btnconfirm {
  margin-left: 700px;
  margin-top: 30px;
  width: 150px;
  background-color: #1e2022;
  color: #d6a864;
  border: 2px solid white;
  margin-bottom: 50px;
  border-color: white;
}

.logoImg {
  margin-left: -50px;
}
