.boxPembayaran {
  background-color: #1e2022;
  width: 800px;
  height: 300px;
  margin-left: 440px;
  margin-top: 30px;
  border-radius: 10px;
}

.boxPembayaran .titlePay h1 {
  color: white !important;
  margin-left: 350px;
  margin-top: 30px;
  font-size: 1000px;
  font-weight: bold;
}
