.boxKonfirmGopay {
  width: 45%;
  height: 320px;
  padding: 50px;
  margin: auto;
  color: black;
}
.boxKonfirmGopay {
  padding: 10px !important;
  border-radius: 10px;
  width: 70%;
  justify-content: center;
}
