.card {
    width: 200px;
    padding: 0px;
    background: transparent;
    border: none;
    margin-top: 50px;
    height: auto;
}

.card-body{
    text-align: center;
}

.card-row {
    margin :0;
}

.set-card {
    justify-content: center;
}