.card-product-admin{
    height: 14rem;
    margin: 5rem;
    display: flex;
    cursor: pointer;
    /* justify-content: space-evenly; */
}
.card-group-product-admin{
    margin-left: 15rem;
    display: flex;
    /* justify-content: center; */
    /* margin: 3rem 3rem 3rem 3rem; */
    text-align: center;
}
.card-body-product-admin{
    padding-top: 3rem;
    padding-right: 3rem;

}

