.konten-dashboard .imgLogoCinem{
    margin-left: 625px;
    margin-top: 25px;
}
.konten-dashboard .imgLogoCinem img{
    width: 10.5rem;
    height: 3.5rem;
}
.konten-dashboard .stats-dashboard{
    text-align: center;
    margin-top: 10rem;
    margin-left: 150px;
}


/* buletan dashboard */
.konten-dashboard .bungkus-dash{
    text-align: center;
    display: flex;
    margin-left: -100px;
}

.konten-dashboard .buletan-dasboard .recharts-wrapper{
    margin-top: 8.4rem;
    margin-left: 60%;
}

.card-admin{
    width: 750px;
   margin-left: 325px;
}

.BT{
    background-color: rgb(105, 38, 168);
    border-radius: 15px;
}
.VT{
    background-color: rgb(78, 255, 78);
    border-radius: 15px;
}