.boxKonfirmGopay {
    width: 45%;
    height: 320px;
    padding: 50px;
    margin: auto;
    color: black;
    margin-bottom: 450px;
  }
  .boxKonfirmGopay {
    padding: 10px !important;
    border-radius: 10px;
    width: 70%;
    justify-content: center;
  }
  .confirmBut {
    transition: 0.5s;
    width: 500px;
    /* text-align: left; */
  }
  .confirmBut:hover {
    transform: scale(1.1);
  }

  .harga-gopay{
    margin-left: 200px;
  }

  