.profileUser{
    display: flex;
}
.profileUser .sidebar {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 300px;
  border: 2px solid black;
  background-color: #222739;
}
img{
    margin-top: 45px;
}
/* side bar */
ul {
  list-style: none;
}
ul li {
  margin-top: 30px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 45px;
  /* border-bottom: 3px solid white;
  border-top: 3px solid white; */
}
.nav-link {
  margin-top: 80px;
}
.this{
    color: #D6A864;
}

/* info user */
.infoUser{
    width: 1400px;
    background-color: #141223;
}
.foto{
    border-radius: 50%;
    background-color: white;
}