.table-recapAdm{
    /* text-align: center; */
    justify-content: center;
    margin-left: 15rem;
    
}
.table-recapAdm table {
  border-collapse: collapse;
  width:65rem;
  /* margin-left: -5.5rem; */
  justify-content: center;
}

.table-recapAdm table tbody .th, .td{
  text-align: center;
}
.table-recapAdm table th,
.table-recapAdm td {
  border: 1px solid #fff;
  padding: 0.5rem;
}
.table-recapAdm table .th{
  background-color: #171831;
}
.btn-tblExport{
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 29.5rem;
  border:none;
  color: #fff;
  background-color: #0c0f30;
}
