/* .table>:not(caption)>*>*{
    padding-bottom: 30px;
} */

.table-historywatch{
    width: 81%;
    margin-left: 15rem;
    border: none;
    background-color: rgb(36, 36, 53);
    margin-top: 50px;
    border-radius: 25px;
    /* padding-bottom: 50px; */
}

th img{
    border-radius: 5px;
    width: 8rem;
}
th{
    color: white;
    border: none;
    font-size: 19px;
    margin: 2rem;
}
.th-a{
    color: #d6a864;
}

.inHistoryWatch h2{
    margin-top: 1rem;
    margin-left: 28rem;
    font-size: 25px;
}

.inHistoryWatch{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5rem;
    margin-left: 20rem;
    width: 50rem;
    
}
.inHistoryWatch .logohistoryWatch{
    /* position: relative; */
    margin-left: 25rem;
    margin-top: -1px;
}