.isiRatio{  
    margin-left: 235px;
    margin-top: 25px;
 }

.deskripsi-trailer h1{
   margin-left: 250px;
   margin-top: 50px;
   border: none;
   font-size: 50px;
   font-weight: 300;
}
.deskripsi-trailer h2{
   margin-left: 250px;
   margin-top: 20px;
   border: none;
   font-size: 30px;
   font-weight: 200;
   color: rgba(255, 255, 255, 0.692);
}
.deskripsi-trailer p{
   margin-left: 250px;
   margin-top: 20px;
   border: none;
   font-size: 20px;
   font-weight: 200;
   color: rgba(255, 255, 255, 0.692);
}

.btn-trailer{
   margin-top: 50px;
   margin-left: 250px;
   margin-bottom: 50px;
}

.btn-add{
   width: 200px; 
   margin-right: 25px;
   background: #222739;
   color: #d6a864;
   
   padding-right:15px;
   padding-left:15px;
   padding-top:20px;
   padding-bottom:40px;
}
.btn-buy{
   width: 200px;
   background: #222739;
   color: #d6a864;
   padding-right:15px;
   padding-left:15px;
   padding-top:20px;
   padding-bottom:40px;
}