.Profile{
  margin-top: -25px;
}

.card-header-akun {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin-bottom: 16px; */
  margin-left: -350px;
  border: none;
  background: transparent;
}

.card-title-akun {
  margin-left: 150px;
  flex: 2;
  
}
/* 
.h5 , h5{
  font-size: 205px;
} */

.card-txt-akun{
  margin-left: -100px;
  text-align: left;
  width: 150px;

}

.card-text-akun{
  font-size: 15px;
}

.cards-akun{
  margin-left: 600px;
}

.card-img-akun{
  flex: 1;
  border-radius:100px ;
   width: 200px;
}

.btn-group-akun{
  margin-top: 55px;
  margin-left:203px;
  display: flex;
  flex-direction: column;
  /* margin-top: 5px; */
}

.btn-akun{
  color: white;
  width: 156vh;
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-logout{
  color: #d6a864;
  width: 156vh;
  background: #222739;
  padding-top: 20px;
  padding-bottom: 20px;
}