.Profile{
  margin-top: -25px;
}

.card-header-akun {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin-bottom: 16px; */
  margin-left: -350px;
  border: none;
  background: transparent;
}

/* .card-title-akun {
  margin-left: 150px;
  flex: 2;
  
} */
/* 
.h5 , h5{
  font-size: 205px;
} */

 
.card-txt-akun{
  margin-left: -3rem;
  text-align: left;
  width: 150px;

}

.card-text-akun{
  font-size: 15px;
}

.cards-akun{
  margin-left: 36rem;
}

.card-img-akun{
  width: 14rem;
  border-radius: 50% ;
}

.btn-group-akun{
  margin-top: 55px;
  margin-left:15%;
  display: flex;
  flex-direction: column;
  /* margin-top: 5px; */
}

.btn-akun{
  color: white;

  width: 67.8rem;

  width: 72.5rem;

  background: transparent;
  padding-top:1rem;
  padding-bottom: 20px;
  text-align: center;

}
.btn-logout{
  color: #d6a864;

  width: 67.8rem;

  width: 72.5rem;

  height: 10vh;
  background: #222739;
  padding-top: 20px;
  padding-bottom: 20px;
}