.card {
    width: 180px;
    padding: 0px;
    background: transparent;
    border: none;
    margin-top: 50px;
    height: auto;
}

.card-body{
    text-align: center;
    margin-left: 30px;
    color: white;
    
}

a{
    text-decoration: none;
}

.card-row {
    margin :0;
}



.set-card {
    justify-content: center;
    margin-left: 18px;
    
}