@import '@fortawesome/fontawesome-svg-core/styles.css';


.table-admin{
    width: 83%;
    margin-left: 13rem;
    text-align: center;
    margin-top: 2rem;
   
   
}

.edit-form-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.td-admin{
    vertical-align: middle;
    border: 2px solid white;
    font-size: 0.7rem;
}
.th-admin{
    
    border: 2px solid white;
    font-size: 0.8rem;
}
.image-product-admin{   
    width: 20%;
    margin-left: 35rem;
}
.tr-admin{
    color: white;
}
.btn-edit-product-admin{
    font-size: 0.7rem;
    margin-left: -0.8rem;
    text-align: center;


}
.btn-delete-product-admin{
    font-size: 0.7rem;
    margin-right: -1rem;
    margin-left: 0.3rem;
    text-align: center;

}
.btn-add-product-admin{
    margin-left: -63.9rem;
    margin-bottom: 1rem;
}
.modal-title-product, .modal-body-product, .modal-footer-product{
    color:#010101;
    /* padding-bottom: 25rem; */
}
/* .modal-footer{
    margin-top: 10rem;
} */

.input-product-admin{
    display: flex;
    padding: 1rem 3rem 1rem 3rem;
    margin: 0.5rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem;
}
.input-product-description{
    display: flex;
    /* width:195%; */
    height: 13rem;
    padding: 1rem 3rem 1rem 3rem;
    margin: 0.5rem;
    margin-bottom: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
}
/* .tabel-input-product-description{
    /* margin-left: -10rem; */

    .tabel-input-product{
        display: flex;
        justify-content: center;
    }
    .btn-add-movie{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 43%;
        
    }