.cards-ticket{
    margin-bottom: 20vh;
}
.cards-ticket .cardsLaga, .cardsAnime {
    margin-left: 210px;
}
/* .cardsAnime{
    margin-top: 200px;
} */
.cards-ticket .txt-tiket{
    margin-bottom: -50px;
    font-size: 22px;
    border-bottom: 2px solid #d6a864;
    width: 8%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}