/* tata letak */
.favorite{
    display: flex;
}
.inFav .logFav{
    position: relative;
    margin-left: 500px;
    margin-top: -30px;
}
.inFav h2{
    /* position: absolute; */
    margin-left: 580px;
    /* margin-top: 50px; */
    font-size: 38px;
}
.inFav{
    margin-top: 40px;
    margin-left: 250px;
    width: 1500px;
}
/* Card */
.favFilm{
    background-color: rgb(36, 36, 53);
}