.full-box-historyTrans{
    margin-left: 495px;
    margin-top: -50px;
    display: flex;
    margin-bottom: 100px;
}

.box-historyTrans {
    width: 270px;
    height: 270px;
    background: #252525;
    margin-left: -100px;
    margin-top: 100px;
  }
  .box-historyTrans .img-all-historyTrans {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .box-historyTrans .img-all-historyTrans .img-logoCinema-historyTrans {
    width: 95px;
    height: 25px;
    text-align: center;
    margin-left: 90px;
    margin-top: 15px;
  }
  .box-historyTrans .img-all-historyTrans .img-historyTrans {
    width: 35px;
    height: 35px;
    margin: 22.5px;
    margin-bottom: 0;
  }
  
  /* content cardnya */
  .box-historyTrans .isi-card-film-historyTrans {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .box-historyTrans .isi-card-film-historyTrans .card-film-poster-historyTrans .poster-filmHistoryTrans{
    width: 90px;
    height: 125px;  
    margin-top: 10px;
    margin-left:20px;
  }
  .box-historyTrans .isi-card-film-historyTrans .judul-buktifilm-historyTrans{
    margin-right: 20px;
    margin-top: 45px;
  }
  .box-historyTrans .isi-card-film-historyTrans .judul-buktifilm-historyTrans .judul-filmTiket-historyTrans{
    font-size: 12px;
  }
  .box-historyTrans .isi-card-film-historyTrans .judul-buktifilm-historyTrans .keterangan-tanggal-historyTrans{
    font-size: 6.5px;
  }
  
  
  /* content bawah */
  .box-historyTrans .table-historyTrans{
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: left;
    margin-top: 25px;
    padding: 15px;
    background-color: #ffffffc2;
    color: #010101;
  
  }
  .box-historyTrans .table-historyTrans  td{
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
  }
  
  

  .inHistoryTrans h2{
    margin-left: 290px;
    font-size: 38px;
}

.inHistoryTrans{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 75px;
    margin-left: 250px;
    width: 965px;
    
}
.inHistoryTrans .logohistoryTrans{
    /* position: relative; */
    margin-left: 320px;
    margin-top: -30px;
}