/* .namaBioskop h3 {
  margin-left: 300px;
} */
.img1 {
  margin-left: 300px;
  margin-top: 30px;
  display: flex;
}
/* .tbl-desc {
  display: flex;
  font-size: 15px;
  margin-left: 300px;
} */
.image {
  display: flex;
  margin-bottom: 50px;
}
.btn-table {
  margin-top: -700px;
  border-radius: 0px;
}
.btn-table2 {
  /* width : 300px; */
  max-width: 81.4%;
  /* max-height: 100%; */
  margin-left: -185px;
}

.btn-time {
  margin-left: -170px;
}
.btn-time2 {
  max-width: 71.5%;
}


.txt-buyTicket {
  width: 50%;
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  border: none;
}
.txt-buyTicket h1 {
  text-align: left;
}

.btn-waktu {
  margin-top: 800px;
  margin-left: 220px;
  display: flex;
}

.btn-data-waktu {
  margin: 5px;
}

.txt-bioskop {
  margin-left: 230px;
  margin-top: 800px;
  margin-bottom: -800px;
  text-align: left;
  width: 215px;
}

.waktu {
  margin-bottom: -750px;
}

.confirm {
  margin-left: 670px;
  margin-top: 800px;
}
