/* .table>:not(caption)>*>*{
    padding-bottom: 30px;
} */

.table-historywatch{
    width: 81%;
    margin-left: 220px;
    border: none;
    background-color: rgb(36, 36, 53);
    margin-top: 50px;
    border-radius: 25px;
    /* padding-bottom: 50px; */
}

th img{
    border-radius: 5px;
    width: 100px;
}
th{
    color: white;
    border: none;
    font-size: 19px;
    padding-bottom: 30px;
}
.th-a{
    color: #d6a864;
}

.inHistoryWatch h2{
    margin-left: 300px;
    font-size: 38px;
}

.inHistoryWatch{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 75px;
    margin-left: 250px;
    width: 965px;
    
}
.inHistoryWatch .logohistoryWatch{
    /* position: relative; */
    margin-left: 320px;
    margin-top: -30px;
}