.navigation {
  height: 6rem;
}
.navbar-nav {
  margin-left: 20%;
}
/* .nav-link {
  margin-right: 2%;
} */

/* .navbar .btnLogin {
    margin-left: 70px;
    margin-right: -50px;
    border: none;
} */


/* .ms-auto{
    margin-left: -30px;
} */
.form-control{
    width: 250px;
    height: 35px;
    margin-top:1px;
}
.btn-outline-light{
    width: 80px;
    height:35px;
    margin-top: 1px;
}

