.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 859px;
  margin: 0 auto;
  height: 693px;
}
input {
  height: 65px;
  width: 500px;
  border-radius: 25px;
  font-size: 25px;
  padding-left: 25px;
}
.button {
  margin-top: 35px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
button {
  border-radius: 20px;
  height: 80px;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  left: 400px;
  top: 736px;
}

.box p {
  color: white;
  text-align: center;
  font-size: 20px;
}

.box p a {
  color: white;
  text-decoration: none;
}
