.card {
    width: 190px;
    background: transparent;
    border: none;
    margin-top: 50px;
    height: auto;
}

.card-body{
    text-align: center;
    margin-left: 30px;
    color: white;
    margin-bottom: -70px;
}

a{
    text-decoration: none;
}

.card-row {
    margin :0;
}


.card-title{
    font-size:20px ;
}
.card-text{
    font-size:15px ;
    color: rgb(134, 134, 134);
}
.set-card {
    justify-content: center;
    margin-left: -33px;
    
}
.card-price{
    margin-left: 5rem;
    margin-top: 2rem;
}