img{
  margin-top: 20px;
  margin-left: 20px;
  /* border-bottom: 1px solid #ffffff48; */
  
  
}
ul {
    list-style: none;
    /* text-align: left; */
    
  }
  

  ul li .a-side {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    /* margin-right: -4rem; */
    /* justify-items: center; */
    /* text-align: center; */
    padding-left: 3rem;
  }

  hr{
    width: 215px;
    margin-left: -47px;
    /* margin-top: 20px; */
  }

  /* .navbar-link{
    margin-bottom: 1rem;
  } */

  /* hr .hr-img{
    margin-bottom: 200px;
  } */
 /* .sidebar .profileUser{
    margin-left: -27px;
   
  } */
   .sidebar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    height: 130vh;
    width: 200px;
    border: none;
    background-color: #2b344e;
  }

